/* Typewriter Effects inspired and modified from Geoff Graham at https://css-tricks.com/snippets/css/typewriter-effect/ */

.introText p {
  border-right: 0.15em solid;
  font-family: fantasy;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 2rem;
}
.introText p:nth-child(1) {
  width: 16em;
  -webkit-animation: type 3s steps(80, end);
  animation: type 3s steps(80, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(2) {
  width: 19em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(3) {
  width: 23em;
  opacity: 0;
  -webkit-animation: type2 5s steps(80, end);
  animation: type2 5s steps(80, end);
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(4) {
  width: 13em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(5) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(6) {
  width: 26em;
  opacity: 0;
  -webkit-animation: type2 5s steps(100, end);
  animation: type2 5s steps(100, end);
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(7) {
  width: 14em;
  opacity: 0;
  -webkit-animation: type2 3s steps(80, end);
  animation: type2 3s steps(80, end);
  -webkit-animation-delay: 31s;
  animation-delay: 31s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(8) {
  width: 21em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 35s;
  animation-delay: 35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(9) {
  width: 23em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 40s;
  animation-delay: 40s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(10) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type2 4s steps(80, end);
  animation: type2 4s steps(80, end);
  -webkit-animation-delay: 45s;
  animation-delay: 45s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.introText p:nth-child(11) {
  width: 8.5em;
  opacity: 0;
  margin-top: 30px;
  -webkit-animation: type3 1s steps(80, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 1s steps(80, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 52s;
  animation-delay: 52s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#gameStartButton {
  font-family: "Finger Paint", "Roboto Mono";
  background-color: rgb(247, 28, 57);
  border: none;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  width: 14rem;
  display: inline-block;
  margin: 50px 5px 100px 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 0.2em rgb(167, 2, 2);
  cursor: pointer;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
  opacity: 0;
  /* -webkit-animation-delay: 56s;
  animation-delay: 56s; */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#gameStartButton:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

#bluePillButton {
  font-family: "Finger Paint", "Roboto Mono";
  background-color: rgb(21, 34, 213);
  border: none;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  width: 14rem;
  display: inline-block;
  margin: 50px 5px 100px 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 0.2em blue;
  cursor: pointer;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
  opacity: 0;
  /* -webkit-animation-delay: 56s;
  animation-delay: 56s; */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#bluePillButton:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid red;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid red;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid red;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid red;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
