.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1) translate(-50%, -50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  transform: scale(1) translate(-50%, -50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  left: 50%;
  position: absolute;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: silver;
  border-width: 24px 24px 80px;
  background-color: black;
}

/* The laptop's keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 975px;
  height: 40px;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: silver;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

#webcam,
#brand {
  text-align: center;
}

#pro {
  margin: 0;
  width: 100%;
  color: white;
  background-color: red;
}

.modal-body {
  padding: 0;
}

#screenModalLauncher {
  margin: auto;
  top: 50;
  right: 50%;
}

#matrixCanvasContainer {
  background: black;
  height: 400px;
  width: 750px;
  margin: auto;
}

#matrixCanvas {
  display: block;
  height: 400px;
  width: 750px;
  z-index: 100;
  margin: auto;
}

/* Matrix Laptop */
.laptop2 {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  transform: scale(1) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  left: 50%;
  position: absolute;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: silver;
  border-width: 24px 24px 80px;
  background-color: silver;
}

/* Matrix Laptop Keyboard */
.laptop2:after {
  content: '';
  display: block;
  position: absolute;
  width: 975px;
  height: 50px;
  left: 0%;
  bottom: -120px;
  margin: 20px 0 0 -110px;
  background-color: silver;
  border-radius: 10px;
}

.start {
  transition: transform 2s;
  transform: translate(0%, -0.9%);
}

.down1 {
  transition: transform 2s;
  transform: translate(0%, -48%);
}

.down2 {
  transition: transform 2s;
  transform: translate(-16.4%, -48%);
}
.down3 {
  transition: transform 2s;
  transform: translate(-32.8%, -48%);
}
.down4 {
  transition: transform 2s;
  transform: translate(-49%, -48%);
}
.down5 {
  transition: transform 2s;
  transform: translate(-65.25%, -48%);
}

.up1 {
  transition: transform 2s;
  transform: translate(0%, -0.9%);
}

.up2 {
  transition: transform 2s;
  transform: translate(-16.4%, -0.9%);
}
.up3 {
  transition: transform 2s;
  transform: translate(-32.8%, -0.9%);
}
.up4 {
  transition: transform 2s;
  transform: translate(-49%, -0.9%);
}
.up5 {
  transition: transform 2s;
  transform: translate(-65.25%, -0.9%);
}

.west1 {
  transition: transform 2s;
  transform: translate(0%, -48%);
}

.west2 {
  transition: transform 2s;
  transform: translate(-16.4%, -48%);
}

.west3 {
  transition: transform 2s;
  transform: translate(-32.8%, -48%);
}

.west4 {
  transition: transform 2s;
  transform: translate(-49%, -48%);
}

.west5 {
  transition: transform 2s;
  transform: translate(-65.25%, -48%);
}

.east1 {
  transition: transform 2s;
  transform: translate(-16.4%, -48%);
}

.east2 {
  transition: transform 2s;
  transform: translate(-32.8%, -48%);
}

.east3 {
  transition: transform 2s;
  transform: translate(-49%, -48%);
}

.east4 {
  transition: transform 2s;
  transform: translate(-65.25%, -48%);
}

.east5 {
  transition: transform 2s;
  transform: translate(-82.69%, -44%);
}

.bossUpper {
  transition: transform 2s;
  transform: translate(-82.69%, -3.3%);
}

#message {
  font-size: 2rem;
  font-family: 'Finger Paint';
  color: red;
  background: black;
  padding: 3rem;
}

/* The typing effect */
/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */

.modal {
  z-index: 1050;
}

#gameOverModalContent {
  background-color: black;
}

.screenModalBackdrop {
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.gameOverBackdrop {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
