#logo {
  height: 250px;
}

.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  transform: scale(1) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  left: 50%;
  position: absolute;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;
}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 220px;
  height: 150px;
  left: 50%;
  bottom: -210px;
  margin: 20px 0 0 -110px;
  background: black;
  border-radius: 10px;
}

/* The top of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: -180px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */
/* .laptop .content {
  width: 960px;
  height: 580px;
  overflow: hidden;
  border: none;
  margin: auto;
} */

#webcam,
#brand {
  text-align: center;
}

#buttons {
  margin: 0;
  padding-right: 5px;
  text-align: right;
  width: 100%;
  color: red;
  background-color: silver;
}

.modal-body {
  padding: 0;
}

#screenModalLauncher {
  margin: auto;
  top: 50;
  right: 50%;
}

#matrixCanvasContainer {
  background: black;
  height: 400px;
  width: 750px;
  margin: auto;
}

#matrixCanvas {
  display: block;
  height: 400px;
  width: 750px;
  z-index: 100;
  margin: auto;
}

/* Matrix Monitor */
.laptop2 {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1.5) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  transform: scale(1.5) translate(-50%); /* Can be scaled to 1.5 to make Computer screen bigger but cursor inside screen goes haywire */
  left: 50%;
  position: absolute;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;
}

/* Matrix Monitor Stand */
.laptop2:after {
  content: '';
  display: block;
  position: absolute;
  width: 220px;
  height: 150px;
  left: 50%;
  bottom: -210px;
  margin: 20px 0 0 -110px;
  background: black;
  border-radius: 10px;
}

#map {
  transition: transform, 2s;
}

.start {
  transform: translate(0%, -0.9%);
}

.down1 {
  transform: translate(0%, -48%);
}

.down2 {
  transform: translate(-16.4%, -48%);
}
.down3 {
  transform: translate(-32.8%, -48%);
}
.down4 {
  transform: translate(-49%, -48%);
}
.down5 {
  transform: translate(-65.25%, -48%);
}

.up1 {
  transform: translate(0%, -0.9%);
}

.up2 {
  transform: translate(-16.4%, -0.9%);
}
.up3 {
  transform: translate(-32.8%, -0.9%);
}
.up4 {
  transform: translate(-49%, -0.9%);
}
.up5 {
  transform: translate(-65.25%, -0.9%);
}

.west1 {
  transform: translate(0%, -48%);
}

.west2 {
  transform: translate(-16.4%, -48%);
}

.west3 {
  transform: translate(-32.8%, -48%);
}

.west4 {
  transform: translate(-49%, -48%);
}

.west5 {
  transform: translate(-65.25%, -48%);
}

.east1 {
  transform: translate(-16.4%, -48%);
}

.east2 {
  transform: translate(-32.8%, -48%);
}

.east3 {
  transform: translate(-49%, -48%);
}

.east4 {
  transform: translate(-65.25%, -48%);
}

.east5 {
  transform: translate(-82.69%, -44%);
}

.bossUpper {
  transform: translate(-82.69%, -3.3%);
}
